.ResumeContainer{
  display: flex;
  align-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: rgba(240, 255, 255, 0.791);

  border-radius: 8px;

  max-width: 50%;
  padding-left: 1rem;
}
