.resumeContainer {
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 50rem;
  height: 70rem;
}
.profileImg{
  width: 5rem;
}
.sideSection {
  flex: 0 0 30%;
  padding: 20px;
  background-color: #f0f0f0;
}

.mainSection {
  flex: 1;
  padding: 20px;
}

.personalDetails p {
  margin: 0;
  margin-bottom: 10px;
}

h4 {
  color: #333;
  margin-top: 0;
}
