.bg-body-tertiary {
  background: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);
}

.dropdown-item {
  background-color: aquamarine;
}

.dropdown-menu {
  background-color: bisque;
}

.navbar-container {
  position: relative; /* Ensure positioning context for absolutely positioned navbar */
}

.fixed-top {
  height: auto;
  left: 0;
  position: absolute; /* Change to absolute positioning */
  top: 0;
  transition: .2s ease-in;
  width: 100%;
  z-index: 1000;
}

/* Add some padding to the body to prevent content from being hidden behind the navbar */
body {
  padding-top: 56px; /* Adjust as needed based on your navbar height */
}

